<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding: 1em 1em;">
    <a class="navbar-brand" href="/">
        BlogMy
    </a>

    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </li>
        <% categorias.forEach(categoria => { %>
            <li class="nav-item">
                <a href="/home/artigos/categorias/<%= categoria.id %>" class="nav-link"><%= categoria.title %></a>
            </li>
        <% }) %>
    </ul>
    <ul class="navbar ml-auto" style="margin-right: 1em;"></ul>
        <li class="nav-item" style="list-style: none;">
            <a href="/users/login" class="btn btn-success">Login in</a>
        </li>
    </ul>
</nav>  